@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3260a8;
    width: 100%;
    height: 50px;
    h1{
        padding-left: 20px;
        color: #edeada;
    }
    ul{
        display: flex;
        justify-content: flex-end;
        height: 100%;
    }
    li{
        
        border-radius: 5px;
        display: flex;
        align-items: center;
        list-style-type: none;
        cursor: pointer;
        :hover{
            background-color: #02142e;
        }
        a{
            padding: 10px 20px 10px 20px;
            border-radius: 10px;
            text-decoration: none;
            color: white;
        }
    }
}
.appContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}